<div class="container">
    <!-- Exchange section  -->
    <div>
        <app-currency-exchange [showDetailsButton]="false" [symbols]="symbols$ | async" [to]="to?.symbol"
            [from]="from?.symbol" [fromName]="from?.currency" [amount]="amount" [convertedAmount]="convertedAmount"
            [loading]="loading" [error]="error" (convert)="onConvertClick($event)"></app-currency-exchange>
    </div>

    <!-- currency history  -->
    <div class="mt-4">
        <app-currency-history [data]="historicalData" [fromCurrency]="from" [toCurrency]="to"
            [showgraph]="!loading && !error">
        </app-currency-history>
    </div>

</div>